# OS
.DS_Store
Thumbs.db

# Node / JS
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
dist/
build/
coverage/
reports/
.tmp/
*.log

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# Env & secrets (kalıcı olarak commit etme)
.env
*.env
backend/.env
backend/.env.*
frontend/.env
postman/*secrets*.json

# Misc
*.orig
*.tmp
